:root {
    /*colours*/
  
    /**primary colours**/
    --afsa-dark-blue-primary: #002a4e;
    --afsa-aqua-primary: #00aab8;
    --afsa-purple-primary: #9865a;
  
    /**secondary colours**/
    --afsa-marine-secondary: #00496c;
    --afsa-teal-secondary: #2d7c97;
    --afsa-aqua-secondary: #5dc6cb;
    --afsa-blue-secondary: #3b85b6;
    --afsa-violet-secondary: #6673ac;

    /**tertiary colours**/
    --afsa-grey-tertiary: #d8e1e9;
    --afsa-black-tertiary: #333333; 
    --afsa-white-tertiary: #ffffff;
  
    /*typography*/
    --typeface-title-primary: Ubutu Bold;
    --typeface-subhead-primary: Ubutu Medium;
    --typeface-body-primary: Ubutu Light;
    --typeface-title-secondary: Arial Bold;
    --typeface-subhead-secondary: Arial Regular;
    --typeface-body-secondary: Arial Regular;
  }

/*breadcrumb*/ 

.breadcrumb
{
    padding-right: 350px; 
}

.breadcrumb { 
    padding-bottom: 0.5em; 
} 

.breadcrumb ol li { 
     color: #00496c; 
     font-size: 12px; 
     font-weight: 500; 
} 
.breadcrumb li { 
    display: inline;
     margin: 0; 
     padding: 0; 
     list-style-type: none; 
} 
.breadcrumb ol li:not(:first-of-type)::before{ 
    content: ">"; 

}

.breadcrumb ol li::before {
    font-size: 8px; 
    margin-right: 5px; margin-left: 5px; 
}

/*landing page section text*/

.lp-section-text {
    border: 1px solid var(--afsa-grey-tertiary);
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1em;
}

.node-content {
    color: var(--afsa-black-tertiary);
    line-height: 1.5rem;
}

strong {
    font-weight: bold !important;
}

/*https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/

.action-items {
    display: flex;
    justify-content: space-evenly;
    column-gap: 1em;
    margin-top: 2em;
}

.action-item {
    padding: 1em;
    background: #ffffff;
    margin-bottom: 1em;
    border-bottom: 8px solid rgba(0,170,184,0.3);
    display: block;
    text-decoration: none;
    position: relative;
    border-top: 1px solid #d8e1e9;
    border-left: 1px solid #d8e1e9;
    border-right: 1px solid #d8e1e9;
    border-radius: 4px 4px 0 0;
    text-align: center;
    
}

.action-item:hover {
    text-decoration: underline;
    border-bottom: 8px solid #00AAB8;
    -webkit-box-shadow: 0 4px 8px 0 rgb(123 123 123 / 35%);
    box-shadow: 0 4px 8px 0 rgb(123 123 123 / 35%);
}

.action-item img {
    width: 7em;
}

.page-header {
    background-color: #EDF5FB;
    width: 100%;
    padding-left: 5em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.submenu {
    position: relative;
    display: inline-block;
    box-shadow: 0 8px 12px 0 rgb(123 123 123 / 25%);
    border-bottom: 8px solid #00AAB8;
    color: #00496c;
    background: white;
    width: 100%;
    height: 15em;
}
.submenu-list {
    padding-top: 1.5em;
}
.submenu-item {
    background: #E5F6F7;
    border-left: 8px solid #00AAB8;
    border-bottom: 1px solid #d8e1e9;
    list-style-type: none;
    font-weight: bold;
    padding: 1em;
}

.submenu-item:first-of-type {
    border-top: 1px solid #d8e1e9;
    
}

.circle-with-arrow {
    border: 2px solid #00496c;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.circle-with-arrow:after {
    content: ">";
}

.submenu-link {
    color: #333333 !important;
}
}
