input[type="text"], input[type="password"], input[type="checkbox"], select {
    margin-top: 1em;
    margin-bottom: 1em;
   }

label {
    margin-top: 1em;
    margin-bottom: 1em;
}
   
.mandatory {
    background-image: url("../images/mandatory.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-origin: padding-box;
    padding-right: 1em;
   }
  
  .main-buttons {
    border-radius: 0.2rem;
    border: 1px solid var(--afsa-teal-secondary);
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;
  }

  .primary {
    background-color: var(--afsa-teal-secondary);
    color: var(--afsa-white-tertiary);
  }
  
  .secondary {
    background-color: var(--afsa-white-tertiary);
    color: var(--afsa-teal-secondary);
  }
  
  .ppsr-form {
    background-color: var(--afsa-grey-tertiary);
    width: 70%;
    margin-top: 1rem;
    border-radius: 0.2rem;
  }
  .form-elements {
    display: flex;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  .b2g-settings, .goni-settings {
    display: none;
  }

  .form-element-left {
    width: 70%;
  }

  .form-element-left-full-width {
    width: 100%;
  }

  .form-element-25 {
    width: 25%;
  }

  .form-text {
    margin-left: 1rem;
  }

  .supporting-text-right {
    width: 30%;
  }

  #org-identifier-type {
   margin-top: 1rem;
   display: none;
}

  #individual-secured-party-name, #organisation-arfn-arsn, #verify-arfn-arsn, #verify-info {
    display: none;
  }

  .ppsr-form h2, .ppsr-form h3 {
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 1rem;
  }
  
  .pi-bundle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .progress-indicator {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
  }
  
  .progress-indicator-step-n {
    margin-top: 1.5em;
  }
  
  .progress-indicator-step {  
    border-radius: 50%;
    margin: 1rem;
    width: 4rem;
    height: 4rem;
    text-align: center;
  }
  
  textarea {
    width: 250px;
    height: 150px;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  .normal {
    background-color: var(--afsa-grey-tertiary);
    color:#333;
  }
  
  .active {
    background-color: var(--afsa-teal-secondary);
    color: var(--afsa-white-tertiary);
  }
  
  .cta {
    background-color: var(--afsa-purple-primary);
    color: var(--afsa-white-tertiary);
    border: 1px solid var(--afsa-purple-primary);
    float: right;
    margin-bottom: 0.5rem;
  }
  
  .use-account {
    background-color: var(--afsa-purple-primary);
    color: var(--afsa-white-tertiary);
    border: 1px solid var(--afsa-purple-primary);
    margin-bottom: 0.5rem;
  }
  
  .accordion-heading {
   display: block;
   margin-left: 1rem;
   margin-top: 1rem;
   margin-bottom: 1rem;	
  }
  
  .accordion-heading h2, .accordion-heading h3 {
   display: inline-block;	
  }
  
  .accordion {
   display: inline-block;
   background-color: var(--afsa-teal-secondary);
   border: 1px solid var(--afsa-teal-secondary);
   border-radius: 50%;
   width: 1rem;
   height: 1rem;
   text-align: center;
   margin-right: 0.5rem;
   color: var(--afsa-white-tertiary);
  }
  
  .review-section-button {
    margin-bottom: 1em;
    width: 70%;
  }
  
  hr {
    width: 70%;
    display: block;
    margin-left: 0rem;
    border: 1px solid var(--afsa-teal-secondary);
  }

.hr-progress-indicator {
    position: absolute;
    border-top: 0.5px solid black;
    border-bottom: 0px;
}

.td-no-border {
    border: none;
  }
  
  .info-panel {
    width: 70%;
    display: flex;
    margin-bottom: 1em;
  }
  
  .info-panel-p {
    margin: 0 0 0 1em;
    line-height: 1.5em;
  }
  
  .info-panel-icon {
    width: 90%;	
  }
  
  .teal-part {
    background-color: var(--afsa-teal-secondary);
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    border: 1px solid var(--afsa-teal-secondary);
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .purple-part {
    background-color: var(--afsa-violet-secondary);
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    border: 1px solid var(--afsa-violet-secondary);
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;	
  }
  
  .white-part {
    border: 1px solid var(--afsa-teal-secondary);
    width: 85%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
  }
  
  .confirmation-body {
    width: 70%;
  }

  .supporting-text-right {
    display: none;
  }

  .spg-help-text p {
    margin: 0;
  }

  .spg-help-text {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 70%;
    line-height: 1.5em;
  }
  .optional-settings {
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .optional-settings p:first-of-type {
    margin-top: 1rem;
  }

  #b2g-settings, #goni-settings {
    display: none;
  }

  #form-element-left-physical-ad {
    display: none;
  }

  .review-section-button table {
    margin-top: 1rem;
  }

  .review-section-button h2 {
    margin-bottom: 1rem;
  }
  