/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import "afsa-style.css";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* PPSR styles */


body{
  background:#fff;
  margin:0;
  font-size:1rem;
  font-family:Ubuntu,sans-serif;
	color:#333;
}

/* typography */

h1,h2,h3,h4,h5,h6,strong{
  color:#026580;
  font-weight: 500;
	margin-bottom:1rem;
	margin-top:3rem;
}

h1{
    font-size: 2.625rem;
    line-height: 2rem;
		margin-bottom:2rem;
		margin-top:1rem;

}

h2{
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-size: 1.35rem;

}

h3{
    font-size: 1.2rem;
		line-height:1.4rem;
    font-weight: 500;
    line-height: 1.25rem;
    border: none;
}

h4,h5,h6,strong{
    font-weight: 500;
    font-size:1rem;
}

p,ul,ol{
  margin-bottom:1.5rem;
	line-height: 1.25rem;
}

p.large{
  font-size:1.125rem;
}

a{
  color:#004a6b;
  text-decoration:none;
}

a:hover{
	color:#009aa8;
  text-decoration:underline;
}

#mainContainer a{
	text-decoration: underline;
}

#mainContainer a:hover{
	color:#016272;
}

#main{
	padding-top:1rem;
}


/* promo and info groups/card */

.group-background{
	background:#ebf7f8;
}

.group-background .promo-card, .group-background .info-card{
	background:#fff;
	margin-top:1%;
	margin-left:1%;
	margin-bottom:1%;
	margin-right:0;
}

.promo-group, .info-group{
  display: flex; /* equal height of the children */
	margin-bottom: 1rem;
}

.promo-card{
		flex: 1; /* additionally, equal width */
		background: #ffffff;
    display: inline-block;
    text-decoration: none;
    position: relative;
    min-height: 3rem;
    border-radius: 1rem;
		border:1px solid #009aa8;
    margin: 0;
		min-width:auto;
		margin-right:1%;
		text-decoration: none !important;
		text-align: center;
		/*box-shadow:2px 2px 8px rgba(0,0,0,0.2);*/
}

.promo-card:hover{
	background:#EBF7F8;
}

.promo-card p, .promo-card ul, .promo-card ol{
	text-align: left;
}

.promo-card h2, .promo-card h3{
	color:#009aa8;
	text-align: center;
}

.promo-card .button{
	display:inline-block;
	margin:.5rem;
}

.info-card{
		flex: 1; /* additionally, equal width */

		border-top: 2px solid #d8e1e9;
		border-left: 2px solid #d8e1e9;
		border-right: 2px solid #d8e1e9;

		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;

		box-shadow: 0 8px 0 0 teal;

		margin-right:1% !important;
		margin-top:1.2rem  !important;
		margin-bottom:1.4rem  !important;
		min-width:auto  !important;
}

.info-content{

}
/*
border-radius:2rem;
border: 2px solid #d8e1e9;
*/

.promo-content, .info-content{
	padding:1rem;
}

.promo-content img, .info-content img{
	display:block;
	margin:auto;
	width:auto;
	max-height:80px;
	padding:0.5rem 0;
}

.info-card h2, .info-card h3{
	margin-top:1rem;
}

.promo-card h2, .promo-card h3{
	font-size:1.2rem;
	line-height:1.4rem;
	margin:0;
	padding:0;
}

.promo-card p, .promo-card ul{
	font-size:.9rem;
	margin-top:1rem;
	line-height:1.2rem;
}

.group-background .promo-card:last-child, .group-background .info-card:last-child{
	margin-right:1%;
}





ul li{
	list-style-type: circle;
	padding-left:0.5rem;
	list-style-position: outside;
	line-height:1.2rem;
	padding-bottom:0.2rem;
}

.button{
	border:2px solid #04A9B8;
	border-radius:2rem;
	text-decoration:none !important;
	padding:1rem 2rem;
}

.button:hover, a:hover .button{
	text-decoration:underline !important;
}

/* breadcrumbs */

#breadcrumbs{
	margin-bottom:4rem;
	margin-top:.5rem;
}

#breadcrumbs a{
	text-decoration: underline;
}

#breadcrumbs dl dt, #breadcrumbs dl dd {
    color: #00496c;
    font-size: .75rem;
    font-weight: 500;
		display:none;
}

#breadcrumbs dl dd {
    display: inline;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#breadcrumbs dd.first::before{
	content:none;
	margin:0;
}

#breadcrumbs dl dd::before {
    content: " > ";
    font-size: 8px;
    margin-right: 5px;
    margin-left: 5px;
}


/* main containers */
.headerNav, #menu, #main, .footer, .footer-logo-content{
  margin:auto;
  max-width:1280px;
  display:block;
}


.headerNav{
  height:114px;
  position: relative;
}

.headerNav a{
  display:inline-block;
  padding:24px 1rem 24px 1rem;
}

.headerNav img{
  width:auto;
  height:63.5px;
  margin:0;
  padding:0;
  display:block;
}

.headerNav .sign-in{
  position: absolute;
  right:1rem;
  top:1.75rem;
  line-height:1rem;
	display:block;
}

.sign-in .button{
	padding:1rem 2rem;
}


.menuNav{
  background:#004a6b;
  max-width:100%;
  position: relative;
	border-bottom:8px solid #35788B;

}

.menuNav a{
  color:#fff;
  text-decoration:none;
  padding:.8rem .5rem;
  display:block;
  /*border-right: 2px solid #00496c;*/
}

.menuNav, .menuNav ul{
	margin-bottom:0;
}

.menuNav li:first-child{
	padding-left:0;
	margin-left:0;
}

.menuNav li:last-child a{
  border:none;
}


.menuNav a:hover{
  text-decoration:underline;
}

.menuNav li{
  display:inline-block;
}

#menu{
  background:none;
}

#mainContainer{
  min-height:25rem;
	background:#fff;
	margin:0;
	width:100%;
}

#main{
  margin:auto;
}

#foot{
  margin-top:6rem;
  color:#fff;
}

#foot .footer{
  padding:1rem;
  border-top: 1px solid #d8e1e9;
  margin-bottom:3rem;
}

#foot ul li{
  display:block;
  float:left;
  width:16.6%;
	padding:0;
	margin:0 0 1rem 0;
}

#foot a{
  font-weight:500;
}

.footer-logo{
  background:#002a4e;
  padding:2rem 1rem 1rem 1rem;
  margin-top:1rem;
  min-height:120px;
}

.footer-afsa, .footer-copyright{
  width:50%;
  float:left;
}

.footer-afsa{
  text-align: center;
}

.footer-copyright{
  padding-top:1.5rem;
}

.footer-copyright img{
  float:left;
  padding-right:.5rem;
}

.footer-copyright p{
  font-size:.8rem;
  line-height:1rem;
  font-weight:500;
  float:left;
  width:80%;
}

ul li {
  margin-left: 1.25em;
}

input[type="text"] {
 margin-bottom: 1em;
}

input[type="submit"] {
 margin-top: 1em;
 background-color: #2d7c97;
 padding: 1em;
 border-radius: 0.5em;
 border: 1px solid #2d7c97;
}

label {
 margin-bottom: 1em;
}

.mandatory {
 background-image: url("../images/mandatory.png");
 background-repeat: no-repeat;
 background-position-x: right;
 background-origin: padding-box;
 padding-right: 1em;
}


/* mobile menu */
#mobile-menu, #mobile-menu-list{
  display:none;
}

/* mobile */
@media (max-width:768px){

	#main{margin:1rem;}

	h1{
		font-size:1.75rem;
		line-height:1.5rem;
	}

  .headerNav, #menu, #mainContainer, .footer, .footer-logo-content{
    max-width:100%;
  }

  .headerNav{
    height:70px;
    overflow:hidden;
  }


  .headerNav a{
    display:inline-block;
    padding:16px 1rem 0px 1rem;
  }

  .headerNav img{
    width:auto;
    height:36px;
  }

  .headerNav .sign-in{
    display:none;
  }

  .headerNav img{
    height:30px;
  }

	.promo-group, .info-group {
		display: block;
	}

	.promo-card, .info-card{
		min-width: 90%;
		margin:0 0 2rem 0;
	}

	.group-background .promo-card, .group-background .info-card{
		width:96%;
		margin-left:2%;
		margin-right:2%;
	}

	.group-background{
		padding-top:1%;
		padding-bottom:1%;
	}

	.group-background .promo-card:last-child, .group-background .info-card:last-child{
		margin-right:0%;
	}


  #menu{
    display:none;
  }

  .footer-logo{
    min-height:200px;
  }

  #foot .footer{
    margin-bottom:0;
  }

  #foot ul li{
    display:block;
    width:100%;
    float:none;
    line-height:1.1rem;
    margin-bottom:0.5rem;
  }

  .footer-afsa, .footer-copyright{
    width:100%;
  }

  .footer-copyright img{
    display:none
  }

  .footer-copyright p{
    text-align: centre;
    width:100%;
  }

  .footer-afsa img{
    width:80%;
  }


  #mobile-menu{
    display:block;
    background-color: #00496c;
    background-image: url(../images/menu.svg);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 18px 18px;
    padding: 12px 12px 12px 44px;
    color:#fff;
    font-size:1rem;
    line-height:1rem;
  }

  #mobile-menu-list{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:400px;
    background:#fff;
    display:none;
  }

}
